.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.add-button{
    background-color:#4dff4d;
    border-radius:20px;
    border-width:0;
    align-self:center;
    font-size:24px;
    padding:15px;
    transition:0.3s;
}
.add-button:hover{
    transform:scale(1.05)
}
.grid-autos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    grid-gap: 3em;
}
