.agregar-auto-header{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.volver{
    margin-right: 1em;
    font-size:24px;
    text-decoration: none;
}
.volver:hover{
    text-decoration: underline;
}
.container{
    display:flex;
    justify-content:center;
}
.agregar-auto-form{
    padding:32px;
    border-radius:20px;
}
label{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:baseline;
}
.agregar-auto-form label p{
    min-width:8em;
}

.form-input{
    flex:1;
    max-width:400px;
    min-width:220px;
    padding: 0;
    margin:0;
    border: 0;
}
