:root{
    --primary-color:#A0CED9;
    --primary-color-variation:#C5E1E8;
    --secondary-color:#ECFDEE;
    --alternative-color:#DABECA;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color:var(--primary-color);
    color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-background-color{
    background-color:var(--primary-color);
    color:#fff;
}

.primary-variation-background-color{
    background-color:var(--primary-color-variation);
    color:#fff;
}
.secondary-background-color{
    background-color:var(--secondary-color);
    color:#000;
}

.alternative-background-color{
    background-color:var(--alternative-color);
    color:#000;
}
